h1{ 
    text-align: center;



}

#cim{

    font-size: 20px;

    color: aqua;
}

#allat{ 
    font-size: 40px;
    color: white;


}

ul{
color: white;

}
ol{
    color: white;
    
    }

body{
    
    background-color: green;
}
img{

    border-radius: 21px;
}

#kep1{

float: right;

}

